@font-face {
    font-family: "Gasoek One";
    src: url(/font/GasoekOne-Regular.ttf) format("truetype");
}

body {
    background-image: url("/images/Indieground_Holographic_Textures_05.jpg");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20px 0;
}

#fs-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-family: "Gasoek One", sans-serif;
    font-size: 5em;
    text-align: center;
    color: beige;
    transition: 0.5s ease-in-out;
}

.title:hover {
    color: black;
    border: 1px solid beige;
    
}

.title h1 {
    
}
