* {
    font-family: default;
    font-weight: 500;
}

body {
    background-image: url("/images/Indieground_Holographic_Textures_05.jpg");
    height: auto;
    width: auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 20px 0;
}

#fs-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.title {
    font-family: 'Monoton', cursive;
    font-size: 5em;
    text-align: center;
    text-align: space-between;
}



.title h1 {
    border: px solid black;
    
}

.glass1 {
    width: 80%;
    height: auto;
    margin: 20px;
    display: flex;
}

.glass2 {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);

    padding: 20px;
}

.card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    background-color: white;
    width: 380px;
    margin: 20px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.4);
    
}

.card img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.card-title {
    margin: 0;
    font-size: 1.5em;
    color: black;;
}

.card-description {
    margin: 10px 0;
    color: grey;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #a6bcd3;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin: 5px;
}

.card-link:hover {
    background-color: #627184;
    color: white;
}



.icons {
    width: 50px;
    height: auto;
    margin: 0 10px;
}

.icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    display: flex;
    align-items: center;
}

.hero-content {
    flex: 1;
    padding: 35px;
}

.hero-content h2 {
    margin: 10px;
    font-size: 2em;
    text-align: center;
}

.hero-content p {
    margin: 10px 0;
    font-size: 1.2em;
    text-align: space-between;
}

.memoji {
    flex: 1;
    text-align: center;
}


.m1 {
    width: 100%;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.flink {
    display: flex;
    align-items: center;
    justify-content: center;
} 


#typing-effect::after {
    content: "|";
    animation: blink 0.7s infinite;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}